body {
	margin: 0;
	padding: 0;
	font-family: 'Tahoma', sans-serif;
}

ul, li {
	margin: 0;
	padding: 0;
	display: block;
}

h1, h2, h3, h4, h5, h6 {

}

.container {
	width: 938px;
	margin: 0 auto
}

.header {
	background: #4e8598;
	padding-top: 54px;
	padding-bottom: 54px

}

.logo {
	margin-top: 54px;
	display: block;
	margin: 0 auto

}

.main {
	margin-top: 184px;
	text-align: center;
	margin-bottom: 178px
}

.main__title {
	font-weight: bold;
	font-size: 27px;
	color: #fff;
	margin-bottom: 36px;
	text-transform: uppercase;
	line-height: 1.2em;
	text-align: center;
	display: block;
}

.arrow {
	display: block;
	margin-left: 455px
}

.main__button {
	padding: 17px 0;
	border: 1px solid #fff;
	border-radius: 27.5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	display: block;
	width: 215px;
	margin: 0 auto
}

.about__title {
	display: block;
	text-align: center;
	margin-top: 72px;
	font-weight: bold;
	font-size: 26px;
	text-transform: uppercase;
	color: #2f383b;
	
}

.mission {
	width: 395px;
	float: left;
	display: block;
	
}

.merit {
	padding-left: 73px;
	float: right;
	margin-right: 30px;

}

.list__item {
	display: block;
	margin-top: 20px;
	padding: 10px 0
}

.mission__title, .merit__title {
	text-transform: uppercase;
	color: #2f383b

}

.mission p {
	color: #2f383b;
	line-height: 1.2em
}

.list__title, .list__intro {
	color: #2f383b
}

.list__title {
	font-weight: bold;
	font-size: 16px;
	color: #4e8598
}

.list__intro {
	color: #a2a6a7;
	font-size: 15px;
	margin-left: 28px
}

.list__item_bug {
	background: url(../img/bug.png) no-repeat left center;
	padding-left: 60px;
}

.list__item_bell {
	background: url(../img/bell.png) no-repeat left center;
	padding-left: 60px;
}

.list__item_flash {
	background: url(../img/storm.png) no-repeat 9px center;
	padding-left: 60px;
}

.list__item_camera {
	background: url(../img/camera.png) no-repeat left center;
	padding-left: 60px;	
}

.mission__title:after, .merit__title:after {
	content: '';
	display: block;
	width: 72px;
	height: 3px;
	background: #4e8598;
	margin-top: 8px
}

.clearfix:after {
	content:'';
	display: table;
	clear: both;
	width: 100%;
}

.why {

}

.why__title {
	display: block;
	text-align: center;
	text-transform: uppercase;
	color: #2f383b;
	margin-top: 140px;
	margin-right: 30px 
}

.wrap__item {
	float: left;
	text-align: center;
	margin-left: 100px;
	color: #2f383b;

}

.wrap__number {
	font-size: 30px;
	margin-top: 66px;
	border-radius: 100%;
	border: 1px solid #2f383b;
	width: 73px;
	height: 73px;
	margin-left: 60px;
	line-height: 73px;
	background: #fff;
	color: #2f383b;
	display: block;
}

.wrap__number:hover {
	background: #2f383b;
	color: #fff
}

.wrap__number-2:active {
	background: #2f383b;
	color: #fff
}

.wrap__title {
	font-weight: bold;
	font-size: 16px
}

.think {
	display: block;
	margin-top: 300px;
	padding-bottom: 72px
}

.think__title {
	text-transform: uppercase;
	margin-left: 370px;
	color: #2f383b;

}

.think__text {
	width: 400px;
	color: #2f383b;
	font-size: 14px;
	text-align: center;
	margin-left: 270px;
	margin-top: 24px
}

.think__butt {
	display: block;
	border: none;
	padding: 20px 35px;
	background: #2f383b;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	border-radius: 27.5px;
	margin-top: 28px;
	width: 170px;
	text-align: center;
	text-transform: uppercase;
	margin-left: 345px;

}

.footer {
	color: #b5b7b8;
	font-size: 13px;
	background: #2f383b;
	padding-top: 36px;
	padding-bottom: 66px
}

.footer p {
	float: left;
	text-align: center;
}

.name {
	margin-left: 281px
}

.polit {
	margin-left: 204px;
	color: #ebebec;
	border-bottom: 1px dotted #ebebec
}
